p {
    margin: 0.2rem;
}
input {
    margin: 0.2rem;
    border: none;
}
#submitButton{
    background-color: white;
    padding: 0.5rem;
    transition: ease-in-out 0.5s ;
    transform-origin: top left;
}
#submitButton:hover{
    transform: scale(1.05);
}
#newUserBox{
    font-family: arial;
    background-color: lightcoral;
    padding: 2rem;
    display: inline-block;
    color: white;
}

#responseBox {
    padding: 2rem;
    background-color: lightblue;
    width: 20rem;
    font-family: arial;
    color: white;
}

